<div class="container-fluid">
  <button class="btn btn-success mb-5" routerLink="/dashboard">
    Dashboard
  </button>
  <form [formGroup]="surveyForm">
    <!-- trying with Bootstarap -->
    <div class="form-group mb-1">
      <label>Survey Title</label>
      <input class="form-control" formControlName="title" />
    </div>
    <div class="form-group mb-1">
      <label>Description</label>
      <textarea class="form-control" formControlName="description"></textarea>
    </div>
    <div class="form-group mb-1">
      <button class="btn btn-success" type="button" (click)="addQuestion()">
        Add Question
      </button>
    </div>
    <div class="questions-grid mb-1" formArrayName="questions">
      <div *ngFor="let question of questions.controls; let i = index" [formGroupName]="i" class="question-card">
        <div class="card">
          <div class="card-body">
            <div class=" form-group">
              <label>Survey Title</label>
              <input class="form-control" formControlName="title" />
            </div>
            <div class="form-group mb-3">
              <label>Type</label>
              <select class="form-control" id="" formControlName="type" (change)="onQuestionTypeChange(i)">
                <option value="TEXT"> Text </option>
                <option value="MULTIPLE"> Multiple Choice </option>
                <option value="CHECKBOX"> Checkbox </option>
              </select>
            </div>
            <div class="text-danger" *ngIf="question.errors?.['minimumOptions']">
              At least two options are required.
            </div>

            @if (question.get('type')?.value === 'MULTIPLE'
            ||question.get('type')?.value === 'CHECKBOX') {
            <div formArrayName="options">
              <div class="input-group mb-1" *ngFor="let option of getOptions(i).controls; let j=index">
                <input class="form-control" [formControlName]="j" placeholder="Option">
                <button class="btn btn-secondary close " type="button" (click)="removeOption(i,j)">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <button class="btn btn btn-secondary" type="button" (click)="addOption(i)">
                Add Option</button>
            </div>
            }

            <div class="form-check mb-1">
              <input class="form-check-input" type="checkbox" formControlName="required">
              <label class="form-check-label" for="defaultCheck1">
                Required
              </label>
            </div>
            <button class="btn btn-primary col-12 mb-1" (click)="removeQuestion(i)" type="button">
              Remove
            </button>
          </div>

        </div>
      </div>
    </div>

    <!-- <mat-form-field appearance="outline">
    <mat-label>Survey Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>

  <br />

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"> </textarea>
  </mat-form-field>

  <br /> -->

    <br />
    <br />
    <!-- <div formArrayName="questions" class="questions-grid">
    <div *ngFor="let question of questions.controls; let i = index" [formGroupName]="i" class="question-card">
      <mat-card> -->
    <!-- <mat-form-field appearance="outline">
          <mat-label> Question Title </mat-label>
          <input matInput formControlName="title" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label> Type </mat-label>
          <mat-select formControlName="type" (selectionChange)="onQuestionTypeChange(i)">
            <mat-option value="TEXT"> Text </mat-option>
            <mat-option value="MULTIPLE"> Multiple Choice </mat-option>
            <mat-option value="CHECKBOX"> Checkbox </mat-option>
          </mat-select>
        </mat-form-field> -->
    <!-- <div class="text-danger alert alert-danger" *ngIf="question.errors?.['minimumOptions']">
          At least two options are required.
        </div> -->
    <!-- @if (question.get('type')?.value === 'MULTIPLE'
        ||question.get('type')?.value === 'CHECKBOX') {
        <div formArrayName="options">

          <div class="input-group mb-1" *ngFor="let option of getOptions(i).controls; let j=index">
            <input class="form-control" [formControlName]="j" placeholder="Option">
            <button class="btn btn-secondary " type="button" (click)="removeOption(i,j)">
              Remove
            </button>
          </div>
          <button class="btn btn btn-secondary" type="button" (click)="addOption(i)">
            Add Option</button>
        </div>
        } -->

    <!-- <mat-checkbox formControlName="required"> Required </mat-checkbox>
        <button class="btn btn-primary" (click)="removeQuestion(i)" type="button">
          Remove
        </button>
      </mat-card>
    </div>
  </div> -->
    <br />
    <button class="btn btn-primary " type="button" (click)="saveSurvey()">
      {{ editingSurveyId ? 'Update Survey' : 'Save Survey' }}
    </button>
    <br />
    <!-- <p>Total Questions : {{ questions.length }}</p> -->
  </form>

  @if(surveys().length > 0 && !this.editingSurveyId) {
  <app-survey-list [surveys]="surveys()" (edit)="editSurvey($event)" (delete)="deleteSurvey($event)">
  </app-survey-list>
  }
</div>