<!-- <mat-card *ngFor="let survey of surveys" class="mb-3">
    <mat-card-title>
        {{ survey.title }}
    </mat-card-title>
    <mat-card-content>
        {{ survey.description }}
        <br>
        Questions:
        {{ survey.questions.length }}
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onEdit(survey)">
            Edit
        </button>
        <button mat-raised-button color="warn" (click)="onDelete(survey.id!)">
            Delete
        </button>
    </mat-card-actions>
</mat-card> -->
<div class="cards-panal">
    @for(survey of surveys;track survey){
    <div class="card m-3">
        <div class="card-body">
            <div class="card-title">
                <h5> {{ survey.title }}</h5>
            </div>
            <div class="card-body mb-1">
                Description : {{ survey.description }}
            </div>
            <div class="card-body mb-1">
                Questions : {{survey.questions.length}}
            </div>
            <div class="card-bottom">
                <button class="btn btn-outline-primary m-2" (click)="onEdit(survey)">
                    Edit
                </button>
                <button class="btn btn-outline-danger m-2" (click)="onDelete(survey.id!)">
                    Delete
                </button>
            </div>
        </div>
    </div>
    }
</div>